max-width-1279() {

  @media (max-width: 1279px) {
    @content;
  }
}

max-width-1023() {

  @media (max-width: 1023px) {
    @content;
  }
}

max-width-767() {

  @media (max-width: 767px) {
    @content;
  }
}

max-width-custom($width) {

  @media (max-width: $width) {
    @content;
  }
}

min-width-768() {

  @media (min-width: 768px) {
    @content;
  }
}

min-width-1024() {

  @media (min-width: 1024px) {
    @content;
  }
}

min-width-1280() {

  @media (min-width: 1280px) {
    @content;
  }
}

min-width-custom($width) {

  @media (min-width: $width) {
    @content;
  }
}
