@import "common/variables.styl"
@import "common/mixins.styl"
@import "common/reset.styl"
@import "common/fonts.styl"
@import "common/common.styl"

@import "blocks/header.styl"
@import "blocks/footer.styl"

@import "includes/index/index-block.styl"
