body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $Raleway;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: $black;
  background: $white;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
