// Fonts
$Raleway = "Raleway", Arial, Helvetica, sans-serif

// Colors
$white = #ffffff
$black = #000000

// Font size
$px16 = 16px
$px18 = 18px
$px20 = 20px
$px22 = 22px
$px24 = 24px
$px26 = 26px
$px28 = 28px
$px30 = 30px

// Font Weight
$normal = 400
$medium = 500
$semibold = 600
$bold = 700
